header {
　position:fixed;
}
body {
  font-family: Helvetica;
  background-color: #fcc
}

.title {
  text-align: center;
}

.name {
  font-size: x-large;
  font-weight: bold;
  margin: 20px;
}

.text {
  font-size: large;
}

.image {
  float: left;
  margin: 20px;
  height: 70%;
  width: auto;
}

.image2 {
  float: left;
  margin: 20px;
  height: 200%;
  width: auto;
}

.clear {
  clear: both;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  margin: 0 auto;
  }

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#apples:checked ~ #apples_content,
#tools:checked ~ #tools_content,
#others:checked ~ #others_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

footer {
  width: 100%;
  height: 40px; 
  text-align: center;
  padding: 30px 0;
  background-color: #ffd700;
}
.footer-text {
  color: #fff;
}

#pagetop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}